<div class="topimage">
  <div class="topimage2">
    <%= image_tag("top.jpg",:alt => "top") %>
    <p class="catch">屋根空間から住まいを豊かに</p>
  </div>
</div>

<!--企業情報の事業内容  -->
<div class = "box_company-business">
  <div class ="box101">
    <div class ="gaiyou">
      <a href="company.html#business_roofing">
        <i class="fa fa-home"></i>
        <h1>屋根材卸事業</h1>
        <p>50年以上培った実績を基に<br>
        瓦や化粧スレート、金属屋根材を<br>
        販売をしております</p>
      </a>
    </div>
  </div>
  <div class ="box102">
    <div class ="gaiyou">
      <a href="company.html#business_solar">
        <i class="fa fa-sun-o"></i>
        <h1>太陽光発電システム事業</h1>
        <p>日本メーカーや海外メーカーの<br>
        太陽光発電システムを<br>
        販売しております</p>
      </a>
    </div>
  </div>
  <div class ="box103">
    <div class ="gaiyou">
      <a href="company.html#business_web">
        <i class="fa fa-list-ul"></i>
        <h1>屋根空間コンサルティング事業</h1>
        <p> "やねいろは" などを通じて<br>
        屋根の情報や屋根工事を行うお店を<br>
        紹介しております</p>
      </a>
    </div>
  </div>
</div>

<!--新着NEWS  -->
<div class = "box_newsplus">
  <div class ="box_makernews">
    <div class = "box_makertitle">
      <h2>新着情報</h2>
    </div>
    <div class = "boxBAB">
      <div class ="box111">
        <div class ="box1111">
          <h3>株式会社鶴弥</h3>
          <div class ="box11111">
            <tbody>
              <% @infos.each do |info| %>
              <tr>
                <th><%= info.created_at.strftime("%Y年%m月%d日") %> </th>
                <td><%= link_to "#{info.title}", download_pdf_path(info) %></td><br>
              </tr>
              <% end %>
            </tbody>
          </div>
        </div>
      </div>

      <div class ="box112">
        <div class ="box1121">
          <h3>新東株式会社</h3>
          <div class ="box11211">
            <tbody>
              <tr>
                <th>2015/09/08</th>
                <td>新作瓦のお知らせ</td>
              </tr>
            </tbody>
          </div>
        </div>
      </div>

      <div class ="box113">
        <div class ="box1131">
          <h3>三州野安株式会社</h3>
          <div class ="box11311">
            <tbody>
              <tr>
                <th>2015/09/08</th>
                <td>新作瓦のお知らせ</td>
              </tr>
            </tbody>
          </div>
        </div>
      </div>
    </div>

    <div class = boxBAC>
      <div class ="box114">
        <div class ="box1141">
          <h3>マルスギ株式会社</h3>
          <div class ="box11411">
            <tbody>
              <tr>
                <th>2015/09/08</th>
                <td>新作瓦のお知らせ</td>
              </tr>
            </tbody>
          </div>
        </div>
      </div>

      <div class ="box115">
        <div class ="box1151">
          <h3>丸栄陶業株式会社</h3>
          <div class ="box11511">
            <tbody>
              <tr>
                <th>2015/09/08</th>
                <td>新作瓦のお知らせ</td>
              </tr>
            </tbody>
          </div>
        </div>
      </div>

      <div class ="box116">
        <div class ="box1161">
          <h3>株式会社シバオ</h3>
          <div class ="box11611">
            <tbody>
              <tr>
                <th>2015/09/08</th>
                <td>新作瓦のお知らせ</td>
              </tr>
            </tbody>
          </div>
        </div>
      </div>
    </div>
  </div>

<!--トップページ内リンク  -->
  <div class ="follow">
    <p class="follow-info">関連リンク</p>
    <ul>
      <li>
        <a href="http://yaneiroha.com/" class="follow-yaneiroha"><%= image_tag("logo_yaneiroha.jpg",:alt => "やねいろは") %></a>
      </li>
      <li>
        <a href="http://yaneiroha-info.com/" class="follow-yaneirohainfo"><%= image_tag("logo_yaneirohainfo.jpg",:alt => "やねいろは情報サイト") %></a>
      </li>
      <li>
        <a href="http://mbp-okayama.com/shiragami-corp/" class="follow-mybestpro"><%= image_tag("logo_mybestprookayama.jpg",:alt => "マイベストプロ岡山") %></a>
      </li>
      <li>
          <a href="http://watakushigoto.jp/empathies/detail/56" class="follow-watakushigoto"><%= image_tag("logo_watakushigoto.jpg",:alt => "わたくしごと") %></a>
          <!-- <img src="logo_watakushigoto.jpg"> -->
      </li>
    </ul>
  </div>

</div>
